@font-face {
    font-family: 'EimiTegaki';
    src: url('./fonts/Eimi00_tegaki-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0;
    background:#F2F0E7;
    font-family: 'EimiTegaki', sans-serif;
}

.header{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100px;
  position:relative;
}

.logo-wrap{
  position:relative;
  margin:0;
  width:220px;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:visible;
}

.logo{
  margin:0;
  font-family:'EimiTegaki', sans-serif;
  font-size:42px;
  color:#9AA014;
  font-weight:normal;
  line-height:0.75;
  text-align:center;
  letter-spacing:0.04em;
}

.logo span{
  display:block;
}

.spark{
  position:absolute;
  display:block;
  width:6px;
  height:28px;
  background:#9AA014;
  border-radius:999px;
}

.spark-1{
  top:14px;
  left:34px;
  transform:rotate(-35deg);
}

.spark-2{
  top:2px;
  left:107px;
}

.spark-3{
  top:14px;
  right:34px;
  transform:rotate(35deg);
}

.spark-4{
  display:none;
}

.spark-5{
  display:none;
}

.spark-6{
  display:none;
}
